/* base.css file contains all the most basic css rules used everywhere in the app */

/* Colors */
:root {
  --color-background: white;
  --color-text: #2f2e2e;
  --color-accent: yellow;
  --color-primary: green;
  --color-background-light: lightgray;
  --color-salmon-test: salmon;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
}

/* Generic class used in a lot of components, used to fill some space with flexbox */
.flexFill {
  flex: 1;
}