/* main.css file contains the CSS rules for the App.vue file */
@import './base.css';

#app {
  width: 100%;
  margin: 0;
  padding: 0;

}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 120px; /* Needed so that the page doesn't go under the menu at startup */
}

/** NProgress */
#nprogress {
  z-index: 99999999;
}

#nprogress .bar {
  top: 77px;
  height: 3px;
  background: var(--color-accent);
}

#nprogress .peg {
  display: none;
}


#nprogress .spinner {
  bottom: 40px;
  right: 40px;
  top: unset;
  left: unset;
}

#nprogress .spinner-icon {
  width: 50px;
  height: 50px;
  border: solid 3px transparent;
  border-top-color: var(--color-accent);
  border-left-color: var(--color-accent);
}