/* main.css file contains the CSS rules for the App.vue file */
@import './base.css';

#app {
  width: 100%;
  margin: 0;
  padding: 0;

}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}