/* Colors */
:root {
    --dk-gr: #004f42;
    --lt-gr: #709302;
    --yellow: #ffce00;
    --lt-grey: #efefef;
    --dk-grey: #333;
    --white: #ffffff;
}

body,html {
    background-color: var(--white);
    margin: 0;
    padding: 0;
    color: var(--dk-grey)
}

*{
    box-sizing: border-box;
    font-family: 'Montserrat';
}

section {
    padding: 20px;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--dk-gr);
}

iframe, object {
    width: 100%;
    height: calc(100vh - 145px)
}