
header {
    background-color: var(--dk-gr);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid var(--yellow);
    padding: 10px;
}

header a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
}

header a img {
    height: 90%;
    margin-right: 15px;
}

header a h2{
    color: var(--white);
    font-size: 2.5em;
}

header div.emptyflex{
    flex: 1;
}

header nav{
    flex-direction: row;
    display: flex;
}
header nav div.dropdowncontainer{
    justify-content: space-evenly;
    margin-right: 90px;
    cursor: pointer;
}

header nav div.dropdowncontainer:hover div.dropdowncontent{
    display: flex;
}

header nav div.dropdowntitle{
    font-size: 2em;
    color: var(--white);
    padding: 10px 0;
}

header nav div.dropdowncontent{
    flex-direction: column;
    display: none;
    position: absolute;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
}

header nav div.dropdowncontent a {
    width: 220px;
    background-color: var(--lt-grey);
    color: var(--dk-gr);
    border-bottom: 1px solid var(--dk-gr);
    padding: 5px 10px;
    font-size: 1.2em;
}

header nav div.dropdowncontent a:hover {
    background-color: var(--dk-gr);
    color: var(--white);
}